streamlit
requests
python-dotenv
langchain
langchain-core
langchain-community
langchain-openai
langchain-ollama
langchain-google-genai
langchain-deepseek
langchain-huggingface
sqlalchemy
faiss-cpu
sentence-transformers
tiktoken
google-ai-generativelanguage
ollama
